<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/style-login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <section class="primera-parte-del-encabezado">
            <img class="logo" src="images/logo-mercado-liebre.svg" alt="Logo mercado liebre">
            <navbar class="barra-de-busqueda">
                <span>Buscar productos, marcas &nbsp&nbsp<i class="fa-solid fa-magnifying-glass"></i></span>
            </navbar>
            <span class="mensaje">
                <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </span>
        </section>

        <nav class="segunda-parte-del-encabezado">
            <ul class="caja-de-busqueda">
                <search-bar>    
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </search-bar>
                <br>
                <login-bar>
                    <li><a href="/register">Crea tu cuenta &nbsp<i class="fa-regular fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresa &nbsp<i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras &nbsp<i class="fa-solid fa-basket-shopping"></i></a></li>
                </login-bar>
            </ul>
        </nav>

        <div class="burger-menu">
            <span class="fa-solid fa-bars" style="color: #ffffff;"></span>
        </div>
    </header>

    <main>
        <form class="formulario__login" action="/login" method="post">
            <h3>Ingresa sesión</h3>
            <input type="text" id="nombre-de-usuario" name="usuario" placeholder="Nombre de usuario" required>
            <input type="password" id="contraseña" name="contraseña" placeholder="Ingresa tu contraseña" required minlength="6" maxlength="12">
            <button type="submit" name="ingresar">Enviar</button>
        </form>
    </main>
    <footer>
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o en efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <i class="fa-solid fa-gift"></i>
            <h4>Envío desde $2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles deproductos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
        </section>

        <section class="licencia">
            <div class="licencia__msj-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
        </section>
    </footer>
</body>
</html>