* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
}

.formulario__login {
    width: 60%;
}

.formulario__login {
    display: flex;
    flex-direction: column;
}

.formulario__login h3 {
    text-align: left;
}

.formulario__login input {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    padding: 12px;
    border-radius: 15px;
}

.formulario__login button {
    font-family: 'Roboto', sans-serif;
    border: 1px solid #1259c3;
    padding: 12px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: bolder;
    background-color: #1259c3;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.formulario__login button:hover{
    background-color: #0022AA;
    border-color: #0022AA;
    transition: background-color,250ms,border-color,250ms;
    transition-timing-function: ease-in-out;
}
/* FIN DEL MAIN */

/* Tablets */
@media(min-width: 481px){
    .formulario__login {
        width: 75%;
    }
}

/* Desktops */
@media(min-width: 1024px){
    .formulario__login {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}