* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; 
    background-color: #ebebeb;
}

/* INICIO DEL HEADER */
header {
    color: #000000;
    background-color: #EAC926; 
    padding: 15px 0px 15px 0px;
}

/* HEADER: PRIMERA PARTE DEL ENCABEZADO */

.primera-parte-del-encabezado {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 150px;
    max-width: 150px;
}

.barra-de-busqueda {
    width: 50%;
    text-align: center;
    font-size: 12px;
}

.barra-de-busqueda input {
    font-family: 'Roboto', sans-serif; 
    width: 70%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.mensaje {
    font-size: 12px;
    margin: 15px;
}

/* HEADER: SEGUNDA PARTE DEL ENCABEZADO */

.caja-de-busqueda {
    font-size: 12px;
}

ul {
    padding-inline-start: initial;
}

.caja-de-busqueda li{
    list-style-type: none;
}

.caja-de-busqueda a {
    color: #000000;
    text-decoration: none;
}

.burger-menu{
    text-align: center;
}

.burger-menu span{
    background-color: #0f04b0;
    padding: 10px;
    border-radius: 10px;
}
/* FINAL DEL HEADER */

.home-banner {
    width: 100%;
}

/* INICIO DEL MAIN */
main {
    background-color: #ebebeb; 
    text-align: center; 
    width: 90%;
    margin: auto; 
    margin-top: 50px;
    margin-bottom: 50px;
}

main h4 {
    text-align: left;
    font-size: 24px;
    color: #666;;
    padding: 15px 0px 15px 0px;
}

main section > article {
    background-color: white;
    margin-bottom: 10px;
    transition-duration: 450ms;
    transition-timing-function: ease-in-out;
}

main section article > img {
    width: 75%;
}

.caja-elementos {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-size: 16px;
    padding: 15px;
    border-top: 1px solid #ebebeb;
    position: relative;
}

main section article i {
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    right: 20px;
    top: -15px;
    color: #39b54a;
    position: absolute;
    transition-duration: 450ms;
    transition-timing-function: ease-in-out;
}

.precio {
    width: 30%;
    font-size: 18px;
}

.descuento {
    width: 70%;
    color: #39b54a;
}

.descripcion {
    opacity: 0;
    transition-duration: 450ms;
    transition-timing-function: ease-in-out;
}

/* INICIO DE MAIN: TRANSICIONES/ANIMACIONES */
main section > article:hover{
    box-shadow: 0px 0px 10px rgb(100,100,100);
    transition: bow-shadow, 450ms;
    transition-timing-function: ease-in-out;
}

main section article i:hover{
    transform: rotateZ(-90deg);
    transition-duration: 450ms;
    transition-timing-function: ease-in-out;
}


main section > article:hover .descripcion{
    opacity: initial;
    transition: opacity, 450ms;
    transition-timing-function: ease-in-out;
}
/* FIN DE MAIN: TRANSICIONES/ANIMACIONES */

/* FIN DEL MAIN */

/* INICIO DEL FOOTER */
footer {
    text-align: center;
    background-color: #ffffff;
    padding: 15px 0px 0px 0px;

}

footer section > i{
    color: #1259c3;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
    transition-duration: 450ms;
    transition-timing-function: ease-in-out;
}

footer section > h4{
    font-size: 16px;
}

footer section > p{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.licencia__msj-copyright {
    font-size: 12px;
    text-align: center;
}

/* INICIO DEL FOTTER: TRANSICIONES/ANIMACIONES */
footer section > i:hover{
    color: #EAC926;
    transition: color,450ms;
    transition-timing-function: ease-in-out;
}
/* FIN DEL FOOTER: TRANSICIONES/ANIMACIONES */
/* FIN DEL FOOTER */

/* MEDIA QUERIES */

/* Celulares */
@media(max-width: 480px){
    /* INICIO DEL HEADER */
    .segunda-parte-del-encabezado {
        display: none;
    }

    .barra-de-busqueda span {
        display: inline;
    }
    /* FINAL DEL HEADER */
}

/* Tablets */
@media(min-width: 481px){
    /* INICIO DEL HEADER */
    .primera-parte-del-encabezado {
        justify-content: space-evenly;
    }

    .logo {
        width: 50%;
    }

    .barra-de-busqueda {
        width: 30%;
        font-size: 10px;
    }

    .mensaje {
        width: 30%;
        margin: 0;
        font-size: 10px;
        text-align: center;
    }

    .caja-de-busqueda {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: 15px;
        font-size: 10px;
    }

    .caja-de-busqueda > search-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 45%;
    }

    .caja-de-busqueda > login-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 45%;
    }
    
    .burger-menu {
        display: none;
    }
    /* FIN DEL HEADER */

    /* INICIO DEL MAIN */
    main section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main section article {
        width: 45%;
    }

    .descuento {
        text-align: center;
    }
    /* FIN DEL MAIN */
}

/* Deskotps */
@media(min-width: 1024px){
    /* INICIO DEL HEADER */
    .barra-de-busqueda {
        font-size: 15px;
    }

    .mensaje {
        font-size: 15px;
    }

    .caja-de-busqueda {
        font-size: 15px;
    }
    /* FIN DEL HEADER */

    /* INICIO DEL MAIN */
    main section article {
        width: 20%;
    }
    /* FIN DEL MAIN */

    /* INICIO DEL FOOTER */
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 0;
    }

    footer section {
        width: 30%;
    }

    .licencia{
        width: 100%;
        text-align: left;
    }
    /* FIN DEL FOOTER */
}